.text {
  color: inherit;
  font-size: 1rem;
}

.skeleton {
  position: relative;

  width: 100%;
  height: 1em;
  display: inline-block;
  overflow: hidden;
  color: inherit;
}

.skeleton::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: currentColor;

  opacity: 0.1;
}

.skeleton::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(45deg,
      transparent 25%,
      #9994 50%,
      transparent 75%);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.color--primary {
  color: var(--primary-text-color);
}

.color--secondary {
  color: var(--secondary-text-color);
}

.size--xsmall {
  font-size: 1.1rem;
}

.size--small {
  font-size: 1.5rem;
}

.size--medium {
  font-size: 2rem;
}

.size--large {
  font-size: 3rem;
}

.size--giant {
  font-size: 4.4rem;
}

.weight--light {
  font-weight: 300;
}

.weight--regular {
  font-weight: 400;
}

.weight--bold {
  font-weight: 700;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--jc-center {
  justify-content: center;
}

.flex--ai-center {
  align-items: center;
}

.embed {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-text-color);
}

.break {
  word-break: break-all;
}