:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --primary-color-00: #ffffff;
  --primary-color-80: #a9a8a8;
  --primary-color-60: #7a7c7b;
  --primary-color-40: #4b4b4b;
  --primary-color-20: #282929;
  --secondary-color-00: #0d1821;
  --secondary-color-80: #0f1f2a;
  --secondary-color-60: #132b3a;

  --error-color-tx: #ff4d4f;
  --error-color-bg: #ff4d4f;

  --danger-color-00: #f31260;
  --danger-color-60: #f3126033;

  --success-color-00: #12a150;
  --success-color-60: #18c96433;

  --warning-color-00: #c3841d;
  --warning-color-60: #f5a52433;

  --primary-text-color: var(--primary-color-00);
  --secondary-text-color: var(--secondary-color-00);

  --input-color-bg: #efefef;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: auto;
  min-height: 100svh;

  font-size: 18px;
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
  font-family: inherit;
}
